<div class="card">
    <div class="card-title">
        <h2>Registeration Successful 🎉</h2>
    </div>
    <div class="card-content">
        <div class="form-data">
            <h4>Name:</h4>
            <span>
                <%= name %>
            </span>
        </div>
        <div class="form-data">
            <h4>Email:</h4>
            <span>
                <%= email %>
            </span>
        </div>
        <div class="form-data">
            <h4>Password:</h4>
            <span>
                <%= password %>
            </span>
        </div>
    </div>
</div>