<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 2 - internship tasks</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header class="heading">
        <h1>
            Task 2: Inline Styles, Basic Interaction,and Server-Side Validation
        </h1>
        <p>
            Objective: Expand inline styles and introduce server-side validation for form submissions.
        </p>
    </header>
    <main>
        <%- body %>
    </main>
</body>

</html>